<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Population data</title>
</head>
<body>
  <h1>Population data</h1>
  <h3>Crude birth rate indicates the number of live births occurring during the year, per 1,000 population estimated at midyear. Subtracting the crude death rate from the crude birth rate provides the rate of natural increase, which is equal to the rate of population change in the absence of migration.
</h3>
  <p>Data from database: Gender Statistics</p>
  <p><a href="/italy">Italy</a> | <a href="/korea">Korea, Rep.</a> | <a href="/japan">Japan</a></p>
  
  <h2>Information: </h2>
  <ul>
       Vital registers are the preferred source for these data, but in many developing countries systems for registering births and deaths are absent or incomplete because of deficiencies in the coverage of events or geographic areas. Many developing countries carry out special household surveys that ask respondents about recent births and deaths. Estimates derived in this way are subject to sampling errors and recall errors.

  </ul>
</body>
</html>
