<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Country: Japan</title>
</head>
<body>
  <h1>Country: Japan</h1>
  
  {% for row in rows %}
    {% if row["country"] == "Japan" %}
      <p>Japan: 
         <b><a href={{ url_for('japan_details', id=row['id']) }}>{{ row["id"] }}</a></b> |  
         {{ row[""] }} |
         {{ row[""] }} |
         {{ row[''] }}
      </p>
    {% endif %}
  {% endfor %}
</body>
</html>
